Cython==0.19.1
Flask==0.9
Flask-Classy==0.6.3
Flask-Login==0.1.3
Flask-SeaSurf==0.1.16
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.8.3
argparse==1.2.1
-e git://github.com/surfly/gevent.git@454a77ca561868854760b2d9cbfa3bf3bbd2e062#egg=gevent-dev
greenlet==0.4.0
-e git://github.com/shuhaowu/leveldbkit.git@e2d3a5414c09bbc8bbc891bf460712f38fe235ac#egg=leveldbkit-dev
misaka==1.0.2
requests==1.2.3
ujson==1.33
wsgiref==0.1.2
