Flask==0.9
Flask-Assets==0.8
Flask-Classy==0.6.3
-e git+https://github.com/shuhaowu/flask-login.git@4cd0fb4e5e84146bc967d79cc982660e664ea362#egg=Flask_Login-dev
Flask-SeaSurf==0.1.22
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.8.3
argparse==1.2.1
cssmin==0.1.4
misaka==1.0.2
-e git+https://github.com/shuhaowu/kvkit.git@6e50e8aeaf65131506ce430e921ac6a16a8a11f8#egg=kvkit-master
riak==2.0.2
riak-pb==1.4.1.1
protobuf==2.4.1
requests==1.2.3
ujson==1.33
webassets==0.8
wsgiref==0.1.2
