Flask==0.10.1
-e git+https://github.com/miracle2k/flask-assets.git@5ea49d3bab5dbb8a9ca84069642fda6505423576#egg=flask-assets-dev
Flask-Login==0.2.10
Flask-SeaSurf==0.1.22
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
cssmin==0.1.4
itsdangerous==0.24
-e git+https://github.com/shuhaowu/kvkit.git@4ff5dc98af58e0aaa47d515a4d043f4fc5af629d#egg=kvkit-dev
misaka==1.0.2
protobuf==2.4.1
requests==1.2.3
riak==2.0.2
riak-pb==1.4.1.1
ujson==1.33
-e git+https://github.com/miracle2k/webassets.git@5d7381c797810a6f38efe5ab2fd88bd4d59f75e8#egg=webassets-dev
wsgiref==0.1.2
