<div class="row">
  <div class="large-12 columns">
    <a href="#/projects/{[ currentProject.key ]}/todos/" class="small secondary button">All Todos</a>
    <!-- <a href="#/projects/{[ currentProject.key ]}/milestones/" class="small secondary button">Milestones</a> -->
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ng-include src="'/static/todos/partials/todoitem.html'"></ng-include>
  </div>
</div>

<ng-include src="'/static/comments/partials/standardcomments.html'"></ng-include>