<div class="row">
  <div class="large-12 columns">
    <a href="#/projects/{[ currentProject.key ]}/todos/" class="small button" ng-class="{secondary: todo.archived}">Active Todos</a>
    <a href="#/projects/{[ currentProject.key ]}/archived_todos/" class="small button" ng-class="{secondary: !todo.archived}">Archived Todos</a>
    <!-- <a href="#/projects/{[ currentProject.key ]}/milestones/" class="small secondary button">Milestones</a> -->
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <todo-item todo="todo" project="currentProject" hide-comment-link="true"></todo-item>
  </div>
</div>

<ng-include src="'/static/comments/partials/standardcomments.html'"></ng-include>