<div class="row">
  <div class="large-12 columns">

    <!-- Top buttons -->
    <div class="right">
      <a href="" ng-click="clearDone()" class="small secondary button" ng-show="showdone">Clear Done</a>
      <a href="" ng-click="expandTodos($event)" class="small secondary button">Expand All</a>
      <a href="" ng-click="newTodo()" class="small success button" id="todos-new-todo-btn">New Todo</a>
    </div>
    <a href="#/projects/{[ currentProject.key ]}/todos/" class="small secondary button">All Todos</a>
    <!--
    <a href="#/projects/{[ currentProject.key ]}/milestones/" class="small secondary button">Milestones</a> -->

    <!-- "New Todo" form -->
    <div class="panel" id="todos-new-todo">

      <form ng-submit="createTodo()">
        <div class="row">
          <div class="large-12 columns">
            <label>Todo title</label>
            <input type="text" ng-model="newtodoitem.title" placeholder="Title for the todo" />
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label>Description</label>
            <textarea ng-model="newtodoitem.content" placeholder="A short description for the todo" ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label>Tags</label>
            <input type="text" ng-model="newtodoitem.tags" placeholder="Tags (comma separated list)" />
          </div>
        </div>

        <button type="submit" class="small right">Create</button>
        <br class="clear" />
      </form>
    </div>
    <hr />
  </div>
</div>

<div class="row">

  <!-- Filter panel -->
  <div class="large-3 columns">
    <div class="panel">
      <h6>Filter</h6>
      <form class="custom" ng-repeat="tag in tags">
        <span class="custom checkbox todos-filter-box" ng-class="{checked: tagsFiltered[tag]}" ng-click="checkTagFilter(tag)"></span> {[ tag ]} <span ng-show="tag == ' '">No tag</span>
      </form>
      <hr />
      <form class="custom">
        <span class="custom checkbox todos-filter-box" ng-class="{checked: showdone == '1'}" ng-click="checkShowFilter('showdone')"></span> Show Completed
      </form>
      <form class="custom">
        <span class="custom checkbox todos-filter-box" ng-class="{checked: shownotdone == '1'}" ng-click="checkShowFilter('shownotdone')"></span> Show not Done
      </form>
      <hr />
      <p>Number of Todos: {[ totalTodos ]}</p>
    </div>
  </div>

  <!-- Todo list -->
  <div class="large-9 columns">
    <div ng-repeat="todo in todos">
      <ng-include src="'/static/todos/partials/todoitem.html'"></ng-include>
    </div>

    <div class="panel" ng-show="todos.length == 0">
      <p>No todo items. Hurray!</p>
    </div>


    <!-- Pagination -->
    <ul class="pagination right" ng-show="1 < totalPages && totalPages < 9">
      <li ng-repeat="i in pages" ng-class="{current: i == currentPage}"><a href="" ng-click="goToPage({[i]})">{[ i ]}</a></li>
    </ul>

    <ul class="pagination right" ng-show="totalPages >= 9">
      <li ng-class="{current: currentPage == 1}"><a href="" ng-click="goToPage(1)">1</a></li>
      <li ng-class="{current: currentPage == 2}"><a href="" ng-click="goToPage(2)">2</a></li>
      <li ng-show="currentPage == 2"><a href="" ng-click="goToPage(3)">3</a></li>
      <li class="unavailable" ng-hide="currentPage == 3 || currentPage == 4">&hellip;</li>
      <li ng-show="3 < currentPage && currentPage < totalPages-1"><a href="" ng-click="goToPage({[ currentPage-1 ]})">{[ currentPage-1 ]}</a></li>
      <li ng-show="2 < currentPage && currentPage < totalPages-1" class="current"><a href="" ng-click="goToPage({[ currentPage ]})">{[ currentPage ]}</a></li>
      <li ng-show="2 < currentPage && currentPage < totalPages-2"><a href="" ng-click="goToPage({[ currentPage+1 ]})">{[ currentPage+1 ]}</a></li>
      <li class="unavailable" ng-hide="currentPage >= totalPages-3 || currentPage <= 2">&hellip;</li>
      <li ng-show="currentPage == totalPages-1"><a href="" ng-click="goToPage({[ totalPages-2 ]})">{[ totalPages-2 ]}</a></li>
      <li ng-class="{current: currentPage == totalPages-1}"><a href="" ng-click="goToPage({[ totalPages-1 ]})">{[ totalPages-1 ]}</a></li>
      <li ng-class="{current: currentPage == totalPages}"><a href="" ng-click="goToPage({[ totalPages ]})">{[ totalPages ]}</a></li>
    </ul>
  </div>
</div>