<div class="panel">
  <form class="custom">
    <span class="custom checkbox todos-todo-donebox" ng-class="{checked: todo.data.done}" ng-click="done()"></span>
    <span class="todos-control">
      <span class="radius label" ng-show="todo.data.due" ng-bind-template="Due {[ todo.data.due | relativeTime ]}"></span>

      <a ng-href="#/projects/{[ project.key ]}/todos/{[ todo.key ]}" ng-hide="hide_comment_link" class="todos-todo-comment-link">
        <ng-pluralize count="todo.data.children.length" when="{'0': 'Comment', '1': '1 comment', 'other': '{} comments'}"></ng-pluralize>
      </a>

      <span ng-show="project.owner || currentUser.key == todo.data.author.key" class="todos-todo-controls">
        <span ng-hide="hideCommentLink">| </span>
        <a href="" title="Edit" ng-click="edit()" ng-hide="todo.archived">Edit</a> <span ng-hide="todo.archived">|</span>
        <a href="" title="Archive" ng-click="archive()" ng-hide="todo.archived">Archive</a>
        <a href="" title="Delete" ng-click="delete()" ng-show="todo.archived">Delete</a>
      </span>
    </span>

    <div class="todos-todo-title">
      <a ng-href="#/projectos/{[ project.key ]}/todos/{[ todo.key ]}" ng-class="{strikeout: todo.data.done}" ng-click="toggle($event)" ng-bind="todo.data.title"></a>
    </div>

    <div class="todos-todo-body" id="todo-{[ todo.key ]}">
      <!-- view mode -->
      <div ng-hide="draft" class="todos-todo-body-view">
        <div ng-show="todo.data.content.markdown" class="todos-todo-content" ng-bind-html="todo.data.content.html | trusted"></div>

        <div ng-hide="todo.data.content.markdown" class="todos-todo-content">
          <p>No descriptions provided.</p>
        </div>

        <div class="todos-todo-info">
          <span class="right">
            <span class="radius label todos-todo-tag" ng-repeat="tag in todo.data.tags">{[ tag ]}</span>
          </span>
          <span ng-bind-template="Filed by {[ todo.data.author.name ]} on {[ todo.data.date | absoluteTime ]}">
          </span>
        </div>
      </div>

      <!-- edit mode -->
      <div ng-show="draft" class="todos-todo-body-edit">
        <form>
          <input type="text" ng-model="draft.data.title" placeholder="Title" />
          <textarea ng-model="draft.data.content.markdown" rows="5" placeholder="Description">
          </textarea>
          <input type="text" ng-model="draft.data.tags" placeholder="Tags (separated with ,)" />
          <div class="right">
            <a class="small secondary button" ng-click="cancel_edit()">Cancel</a>
            <button class="small success" type="button" ng-click="save()">Save</button>
          </div>
          <br class="clear" />
        </form>
      </div>

    </div>
  </form>
</div>
