/* General modifications */
.clear { clear: both; }
.no-margin { margin: 0 !important; }
.hide { display: none !important; }
.show { display: block !important; }
.statusmsg { font-size: 14px; }
/* Workaround for Foundation 4 bug: https://github.com/zurb/foundation/issues/2127 */
textarea { height: auto; }
form { margin: 0; }
button, .button { margin: 0; }
body { font-size: 0.85em; }
.red { color: red !important; }
span.custom.checkbox { cursor: pointer; }
.strikeout { text-decoration: line-through; }
.center { display: block; margin-left: auto; margin-right: auto; }
div.contain-to-grid { margin-bottom: 1.6em; }

/* Topbar customizations */
/* 140px is chosen so it doesn't overflow */
nav.top-bar .ellipsis a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 140px; }
nav.top-bar li:hover { background-color: #222; }
nav.top-bar li.name h1 a:hover { color: #DDD; }
a#login-persona { color: orange; }

/* Landing pages */
/* TODO: This should be moved to it's own file and only loaded on the landing pages */

div.landing-nav { margin-bottom: 0; }
div.landing-boxes { padding: 50px 0; }
div.landing-boxes p { font-size: 1.2em; }
div.landing-boxes div.row { max-width: 75em; }
div.landing-boxes h1, div.landing-boxes h2 { font-weight: normal; line-height: 1; text-align: center; }
div.landing-boxes h2 { margin-bottom: 1rem; font-size: 1.4rem; }

div#landing { background-image: url(/static/img/dt-landing.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; padding: 120px 0;}
div#landing h1 { font-size: 3rem; font-weight: 600; }
div#landing h2 { font-size: 1.3rem; margin-top: 2rem;  }
div#landing div.landing-buttons { width: 60%; margin: 0 auto; text-align: center; }
div#landing div.landing-buttons a { margin: 1.2em 1em 0 1em; }

div#main1 { background-color: #EEE; }

div#signup input { height: 2.5rem; text-align: center; }
div#signup button { display: block; margin: 0 auto; height: 2.5rem;}

/* comments */
.comments h1 { font-size: 22px; }

/* Footer */
footer.row { text-align: center; font-size: 11px; color: #AAA; margin-top: 1em; height: 2em; line-height: 2em; }
footer a:hover { text-decoration: underline; }

/* feed */
.feed-character-count { margin-right: 5px; color: #AAA; font-size: 0.8em; }
.comment-avatar, .feed-avatar { margin-right: 10px; float: left; vertical-align: bottom; }
.comment-date, .feed-date { font-size: 0.85em; float: right; line-height: 1.18em; }
.comment-post, .feed-post { margin-bottom: 0.75em; clear: both; }

/* profile */
.profile-avatar { float: left; margin-right: 10px; }
#profile-name { margin: 0; line-height: 80px; display: inline-block; font-size: 1.6em; }
#profile-name-edit, #profile-name-edit-cancel { margin-left: 8px; line-height: 80px; font-size: 0.8em; }
#profile-name-edit-cancel { display: none; }

/* todos */
#todos-new-todo {margin-top: 1em; display: none;}
.todos-todo-title a, .todos-todo-title a:visited, .todos-todo-title a:focus { color: #555; }
.todos-todo-title a:hover { color: #333; }
.todos-todo-donebox { float: left; margin-right: 0.3em; }
.todos-filter-box { margin-right: 0.3em; }
.todos-todo-body { display: none; margin-top: 0.5em; border: 1px dashed #CCC; border-radius: 4px; padding: 0.6em; }
.todos-todo-content { margin: 0 0 1em 0; }
.todos-todo-info { font-size: 0.9em; color: #999; }
.todos-control { font-size: 0.8em; line-height: 1.2em; color: #AAA; float: right; display: inline-block; margin-left: 0.3em; }
.label.todos-todo-tag { margin-left: 4px; }

/* todos-content */
.todos-todo-content h1 { font-size: 1.8em; }
.todos-todo-content h2 { font-size: 1.6em; }
.todos-todo-content h3 { font-size: 1.4em; }
.todos-todo-content h4 { font-size: 1.2em; }
.todos-todo-content h5 { font-size: 1.0em; }
.todos-todo-content h6 { font-size: 0.9em; }

/* files */

ul.files { list-style: none; margin: 1em 0 !important; }
ul.files li { margin: 1.5em 0; border-bottom: 1px solid #AAA; }
ul.files li:first-of-type { margin: 0 0 1.5em 0; }
ul.files li:last-of-type { margin: 1.5em 0 0 0; border-bottom: none; }
ul.files li:last-of-type p { margin: 0; }
ul.files li p { line-height: 14px; }
ul.files li:only-of-type { margin: 0 0 1.5em 0 !important; }
ul.files li i { float: left; margin-top: 0px; margin-right: 5px; }
ul.files li span.author { float: right; margin-left: 5px; }
ul.files li span.date { float: right; }

div.files-action-buttons { margin-bottom: 10px; float: right; }
