/* General modifications */
.clear { clear: both; }
.no-margin { margin: 0 !important; }
.hide { display: none !important; }
.show { display: block !important; }
.statusmsg { font-size: 14px; }
/* Workaround for Foundation 4 bug: https://github.com/zurb/foundation/issues/2127 */
textarea { height: auto; }
form { margin: 0; }
button, .button { margin: 0; }
body { font-size: 0.85em; }
.red { color: red !important; }
span.custom.checkbox { cursor: pointer; }
.strikeout { text-decoration: line-through; }
.center { display: block; margin-left: auto; margin-right: auto; }
div.contain-to-grid { margin-bottom: 1.6em; }

/* Topbar customizations */
nav.top-bar li:hover { background-color: #222; }
nav.top-bar li.name h1 a:hover { color: #DDD; }
a#login-persona { color: orange; }

/* Footer */
footer.row { text-align: center; font-size: 11px; color: #AAA; margin-top: 1em; height: 2em; line-height: 2em; }
footer a:hover { text-decoration: underline; }

/* feed */
.feed-character-count { margin-right: 5px; color: #AAA; font-size: 0.8em; }
.feed-avatar { margin-right: 10px; float: left; vertical-align: bottom; }
.feed-date { font-size: 0.85em; float: right; line-height: 1.18em; }
.feed-post { margin-bottom: 0.75em; clear: both; }

/* profile */
.profile-avatar { float: left; margin-right: 10px; }
#profile-name { margin: 0; line-height: 80px; display: inline-block; font-size: 1.6em; }
#profile-name-edit, #profile-name-edit-cancel { margin-left: 8px; line-height: 80px; font-size: 0.8em; }
#profile-name-edit-cancel { display: none; }

/* todos */
#todos-new-todo {margin-top: 1em; display: none;}
.todos-todo-title a, .todos-todo-title a:visited, .todos-todo-title a:focus { color: #555; }
.todos-todo-title a:hover { color: #333; }
.todos-todo-donebox { float: left; margin-right: 0.3em; }
.todos-filter-box { margin-right: 0.3em; }
.todos-todo-body { display: none; margin-top: 0.5em; border: 1px dashed #CCC; border-radius: 4px; padding: 0.6em; }
.todos-todo-content { margin: 0 0 1em 0; }
.todos-todo-info { font-size: 0.9em; color: #999; }
.todos-control { font-size: 0.8em; line-height: 1.2em; color: #AAA; float: right; display: inline-block; margin-left: 0.3em; }
.label.todos-todo-tag { margin-left: 4px; }

/* todos-content */
.todos-todo-content h1 { font-size: 1.8em; }
.todos-todo-content h2 { font-size: 1.6em; }
.todos-todo-content h3 { font-size: 1.4em; }
.todos-todo-content h4 { font-size: 1.2em; }
.todos-todo-content h5 { font-size: 1.0em; }
.todos-todo-content h6 { font-size: 0.9em; }