<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <ul class="breadcrumbs">
        <li ng-repeat="dir in currentDirectoryList" ng-class="{current: dir.last}">
          <a ng-href="#/projects/{[ currentProject.key ]}/files{[ dir.path ]}">{[ dir.name ]}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="files-action-buttons">
        <button class="small success" ng-click="newDirectory()"><i class="icon-white icon icon-folder-close"></i> New Folder</button>
        <button class="small success" ng-click="newFile()"><i class="icon icon-white icon-file"></i> New File</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <ul class="files" ng-hide="notFound || files.length == 0">
          <li ng-repeat="f in files">
            <i class="icon icon-file" ng-hide="f.is_directory"></i>
            <i class="icon icon-folder-close" ng-show="f.is_directory"></i>
            <p>
              <a ng-href="#/projects/{[ currentProject.key ]}/view_file/{[ f.path ]}/" ng-hide="f.is_directory">{[ f.filename ]}</a>
              <a ng-href="#/projects/{[ currentProject.key ]}/files/{[ f.path ]}" ng-show="f.is_directory">{[ f.filename ]}</a>
              <span class="date">{[ f.date|relativeTime ]}</span>
              <span class="author">{[ f.author.name ]}</span>
            </p>
          </li>
        </ul>
        <p class="text-center" ng-show="notFound">This directory does not exist.</p>
        <p class="text-center" ng-show="files.length == 0">This directory is empty. Create some files!</p>
      </div>
    </div>
  </div>
</div>