<div class="row">
  <div class="large-12 columns">
    <div class="section-container vertical-tabs" data-section="vertical-tabs">
      <section>
        <p class="title" data-section-title><a href="#">Membership</a></p>
        <div class="content" data-section-content ng-controller="ProjectMembershipController">
          <div class="row">
            <div class="large-12 columns">
              <button class="tiny right" ng-click="addOwner()">Add</button>
              <h5 class="text-center">Owners</h5>
              <table class="text-center" width="100%">
                <thead>
                  <tr>
                    <th width="33%" class="text-center">Email</th>
                    <th width="33%" class="text-center">Name</th>
                    <th width="33%" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="owner in owners">
                    <td>{[ owner.email ]}</td>
                    <td>{[ owner.name ]}</td>
                    <td>
                      <button class="tiny alert" ng-click="removeOwner($index, owner)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <button class="tiny right" ng-click="addCollaborator()">Add</button>
              <h5 class="text-center">Collaborators</h5>
              <table class="text-center" width="100%">
                <thead>
                  <tr>
                    <th width="33%" class="text-center">Email</th>
                    <th width="33%" class="text-center">Name</th>
                    <th width="33%" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="collaborator in collaborators">
                    <td>{[ collaborator.email ]}</td>
                    <td>{[ collaborator.name ]}</td>
                    <td>
                      <button class="tiny alert" ng-click="removeCollaborator($index, collaborator)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <h5 class="text-center">Unregistered Owners</h5>
              <table width="100%" class="text-center">
                <thead>
                  <tr>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="owner in unregisteredOwners">
                    <td>{[ owner ]}</td>
                    <td>
                      <button class="tiny alert" ng-click="removeUnregisteredOwner($index, owner)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="large-6 columns">
              <h5 class="text-center">Unregistered Collaborators</h5>
              <table width="100%" class="text-center">
                <thead>
                  <tr>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="collaborator in unregisteredCollaborators">
                    <td>{[ collaborator ]}</td>
                    <td>
                      <button class="tiny alert" ng-click="removeUnregisteredCollaborator($index, collaborator)">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>