<div class="row">
  <div class="large-12 columns">
    <div class="section-container vertical-tabs" data-section="vertical-tabs">
      <section>
        <p class="title" data-section-title><a href="#">Membership</a></p>
        <div class="content" data-section-content ng-controller="ProjectMembershipController">
          <div class="row">
            <div class="large-12 columns">
              <button class="tiny right" ng-click="addManager()">Add</button>
              <h5 class="text-center">Managers</h5>
              <table class="text-center" width="100%">
                <thead>
                  <tr>
                    <th width="33%" class="text-center">Email</th>
                    <th width="33%" class="text-center">Name</th>
                    <th width="33%" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>shuhao@shuhaowu.com</td>
                    <td>Shuhao Wu</td>
                    <td>
                      <button class="tiny alert">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <button class="tiny right" ng-click="addParticipants()">Add</button>
              <h5 class="text-center">Participants</h5>
              <table class="text-center" width="100%">
                <thead>
                  <tr>
                    <th width="33%" class="text-center">Email</th>
                    <th width="33%" class="text-center">Name</th>
                    <th width="33%" class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>shuhao@shuhaowu.com</td>
                    <td>Shuhao Wu</td>
                    <td>
                      <button class="tiny alert">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <h5 class="text-center">Unregistered Managers</h5>
              <table width="100%" class="text-center">
                <thead>
                  <tr>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>spammer@spam.com</td>
                    <td>
                      <button class="tiny alert">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="large-6 columns">
              <h5 class="text-center">Unregistered Participants</h5>
              <table width="100%" class="text-center">
                <thead>
                  <tr>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>spammer@spam.com</td>
                    <td>
                      <button class="tiny alert">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>