<div class="row">
  <div class="large-12 columns">
    <a href="#/projects/{[ currentProject.key ]}/todos/" class="small secondary button">All Todos</a>
    <!-- <a href="#/projects/{[ currentProject.key ]}/milestones/" class="small secondary button">Milestones</a> -->
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <ng-include src="'/static/partials/todoitem.html'"></ng-include>
    <hr />
    <h5 class="text-right">Comments</h5>
    <div class="panel">
    </div>
  </div>
</div>