<div class="row">
  <div class="large-12 columns">
    <a href="" ng-click="newTodo()" class="small success right button" id="todos-new-todo-btn">New Todo</a>
    <a href="#/projects/{[ currentProject.key ]}/todos/" class="small secondary button">All Todos</a>
    <a href="#/projects/{[ currentProject.key ]}/milestones/" class="small secondary button">Milestones</a>
    <div class="panel" id="todos-new-todo">
      <h5>New Todo</h5>
      <form ng-submit="createTodo()">
        <div class="row">
          <div class="large-12 columns">
            <label>Todo title</label>
            <input type="text" ng-model="newtodoitem.title" placeholder="Title for the todo" />
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label>Description</label>
            <textarea ng-model="newtodoitem.content" placeholder="A short description for the todo" ></textarea>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label>Tags</label>
            <input type="text" ng-model="newtodoitem.tags" placeholder="Tags (comma separated list)" />
          </div>
        </div>

        <button type="submit" class="small right">Create</button>
        <br class="clear" />
      </form>
    </div>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div class="panel">
      Number of Todos: {[ totalTodos ]}
    </div>
  </div>
  <div class="large-9 columns">
    <div class="panel" ng-repeat="todo in todos">
      <form class="custom">
        <span ng-class="{custom: true, checkbox: true, checked: todo.done, 'todos-todo-donebox': true}" ng-click="markDone(todo)"></span>
        <span class="todos-control">
          <span class="radius label" ng-show="todo.due">Due {[ todo.due | relativeTime ]}</span>
          <a href="#/projects/{[ currentProject.key ]}/todos/{[ todo.key ]}">
            <span ng-show="todo.children.length > 0">{[ todo.children.length ]} comment<span ng-show="todo-children.length != 1">s</span></span>
            <span ng-show="todo.children.length == 0">Comment</span>
          </a>
          <span ng-show="currentProject.owner || currentUser.key == todo.author.key">
            | <a href="" titile="Edit" ng-click="editTodo(todo, $index)">Edit</a> |
            <a href="" title="Delete" ng-click="deleteTodo(todo, $index)">Delete</a>
          </span>
        </span>
        <div class="todos-todo-title">
          <a href="#/projects/{[ currentProject.key ]}/todos/{[ todo.key ]}" ng-class="{strikeout: todo.done}" ng-click="showTodo(todo, $event)">{[ todo.title ]}</a>
        </div>
      </form>


      <div class="todos-todo-body" id="todo-{[ todo.key ]}">

        <!-- view mode -->
        <div ng-show="!editMode[todo.key]">
          <div class="todos-todo-content" ng-bind-html-unsafe="todo.content.html" ng-show="todo.content.markdown">
          </div>
          <div class="todos-todo-content" ng-show="!todo.content.markdown">
            <p>No description provided.</p>
          </div>
          <div class="todos-todo-info">
            <span class="right">
              <span class="radius label todos-todo-tag" ng-repeat="tag in todo.tags">{[ tag ]}</span>
            </span>
            Filed by {[ todo.author.name ]} on {[ todo.date | absoluteTime ]} | Assigned to {[ ((todo.assigned) && todo.assigned.name || "no one") ]}
          </div>
        </div>

        <!-- edit mode -->
        <div ng-show="editMode[todo.key]">
          <form ng-submit="saveTodo(todo.key)">
            <input type="text" ng-model="editMode[todo.key].title" placeholder="Title" />
            <textarea ng-model="editMode[todo.key].content.markdown" rows="5" placeholder="Description">
            </textarea>
            <input type="text" ng-model="editMode[todo.key].tags" placeholder="Tags (separate with ,)" />
            <div class="left" style="margin-right: 5px;">
              <input type="text" ng-model="editMode[todo.key].assigned" placeholder="Assigned" />
            </div>
            <div class="left">
              <input type="text" ng-model="editMode[todo.key].due" placeholder="Due (YYYY-MM-DD)" />
            </div>
            <div class="right">
              <a class="small secondary button" ng-click="cancelEdit(todo.key)">Cancel</a>
              <button class="small success" type="submit">Save</button>
            </div>
            <br class="clear" />
          </form>
        </div>
      </div>
    </div>

    <div class="panel" ng-show="todos.length == 0">
      <p>No todo items. Hurray!</p>
    </div>

    <ul class="pagination right" ng-show="1 < totalPages && totalPages < 9">
      <li ng-class="{current: i == currentPage}" ng-repeat="i in pages"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ i ]}">{[ i ]}</a></li>
    </ul>

    <ul class="pagination right" ng-show="totalPages >= 9">
      <li ng-class="{current: currentPage == 1}"><a href="#/projects/{[ currentProject.key ]}/todos/pages/1">1</a></li>
      <li ng-class="{current: currentPage == 2}"><a href="#/projects/{[ currentProject.key ]}/todos/pages/2">2</a></li>
      <li ng-show="currentPage == 2"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ 3 ]}">3</a></li>
      <li class="unavailable" ng-hide="currentPage == 3 || currentPage == 4">&hellip;</li>
      <li ng-show="3 < currentPage && currentPage < totalPages-1"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ currentPage-1 ]}">{[ currentPage-1 ]}</a></li>
      <li ng-show="2 < currentPage && currentPage < totalPages-1" class="current"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ currentPage ]}">{[ currentPage ]}</a></li>
      <li ng-show="2 < currentPage && currentPage < totalPages-2"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ currentPage+1 ]}">{[ currentPage+1 ]}</a></li>
      <li class="unavailable" ng-hide="currentPage >= totalPages-3 || currentPage <= 2">&hellip;</li>
      <li ng-show="currentPage == totalPages-1"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ totalPages-2 ]}">{[ totalPages-2 ]}</a></li>
      <li ng-class="{current: currentPage == totalPages-1}"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ totalPages-1 ]}">{[ totalPages-1 ]}</a></li>
      <li ng-class="{current: currentPage == totalPages}"><a href="#/projects/{[ currentProject.key ]}/todos/pages/{[ totalPages ]}">{[ totalPages ]}</a></li>
    </ul>
  </div>
</div>