{% extends "master.html" %}

{% block main %}
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4>Welcome to Projecto!</h4>
        <p>Projecto is a free project management software aimed towards small - medium sized projects.
        <br />
        Projecto offers meetings, todos, file sharing, announcements, and discussions for teams.
        All you need is an email to sign up and try!</p>
        <p class="text-right"><a href="/about" class="no-margin button">Learn More</a></p>
      </div>
    </div>
  </div>
{% endblock %}
