{% extends "master.html" %}

{% set landing = 1 %}

{% block main %}

  <div id="landing" class="container landing-boxes">
    <div class="row">
      <header class="large-12 columns">
        <h1>Projecto</h1>
        <h2>Integrated project management solution for a fast moving teams.</h2>
        <div class="landing-buttons">
          <a href="/about" class="radius button">Learn More</a>
          <a href="https://github.com/shuhaowu/projecto" target="_blank" class="radius button">Source Code</a>
        </div>
      </header>
    </div>
  </div>

  <div id="main1" class="container landing-boxes">
    <div class="row">
      <div class="large-4 columns">
        <h2>Integrated solution</h2>
        <p>Designed to have all of the features built in, you and your team no
           longer need to use a gazillion different tools for one job.</p>
      </div>
      <div class="large-4 columns">
        <h2>Packed with features</h2>
        <p>Feed, todos, files, schedules. Projecto comes with all the features needed for a fast moving, small to medium sized team.</p>
      </div>
      <div class="large-4 columns">
        <h2>Open source with love</h2>
        <p>Everything is open source licensed under Apache 2. Host your own instance, add your own features. All for free!</p>
      </div>
    </div>
  </div>

  <div id="signup" class="container landing-boxes">
    <div class="row">
      <div class="large-offset-by-1 large-5 columns">
        <h2 style="text-align: left; margin-top: 1rem;">Projecto is still in private beta.</h2>
        <p>You should contact us if you are interested. You could also <a href="https://github.com/shuhaowu/projecto" target="_blank">check out the source code</a> yourself.</p>
      </div>
      <div class="large-6 columns">
        <h2>Interested? Sign up for updates!</h2>
        <form action="/signup" method="post">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" name="email" placeholder="Email" />
            </div>
            <div class="small-2 columns">
              <button type="submit" class="button prefix">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
