<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" ng-app="projecto"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="projecto"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}Projecto{% endblock %}</title>
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  <script type="application/x-javascript">
    {% if current_user.is_authenticated() %}
    {% autoescape off %}
    window.currentUser = {{ current_user.serialize(dictionary=False, include_key=True) }};
    {% endautoescape %}
    {% else %}
    window.currentUser = {email: null};
    {% endif %}
    window.csrfToken = "{{ csrf_token() }}";
    window.API_PREFIX = "/api/v1";
  </script>
  <script src="/static/js/vendor/custom.modernizr.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>

  <div class="contain-to-grid{% if landing %} landing-nav{% endif %}">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="{% if landing %}/{% else %}#/{% endif %}">Projecto</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      {% block navbar_section %}
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/features">Features</a></li>
        </ul>
        <ul class="right">
          <li><a id="login-persona" href="#">Login with Persona</a></li>
        </ul>
      </section>
      {% endblock %}
    </nav>
  </div>

{% if SERVER_MODE == "stage" %}
  <div class="row" style="position: fixed; z-index: 40; left: 50%; transform: translateX(-50%); bottom: 5%">
    <div class="large-12 columns">
      <div class="alert-box alert text-center">
        WARNING: You're viewing the staging site for Projecto. The data here may be deleted at any time.
      </div>
    </div>
  </div>
{% endif %}

  {% block main %}
  {% endblock %}

  <footer class="row">
    <a href="/licenses">Licenses</a> | Copyright &copy; <a href="https://github.com/shuhaowu/projecto/graphs/contributors" target="_blank">Projecto Team</a> 2013 | <a href="https://github.com/shuhaowu/projecto" target="_blank">Source Code</a>
    <br />
  </footer>
  <script src="/static/js/vendor/jquery-1.9.1.min.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    $(document).foundation("forms", "off");
  </script>
  <script src="/static/js/vendor/statusmsg.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script src="/static/js/login.js"></script>
  {% block end %}
  {% endblock %}
</body>
</html>
