<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" ng-app="projecto"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="projecto"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}Projecto{% endblock %}</title>
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  <script type="application/x-javascript">
    {% if current_user.is_authenticated() %}
    {% autoescape off %}
    window.currentUser = {{ current_user.serialize(dictionary=False, include_key=True) }};
    {% endautoescape %}
    {% else %}
    window.currentUser = {email: null};
    {% endif %}
    window.csrfToken = "{{ csrf_token() }}";
    window.API_PREFIX = "/api/v1";
  </script>
  <script src="/static/js/vendor/custom.modernizr.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>

  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#home">Projecto</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      {% block navbar_section %}
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/about">About</a></li>
          <li><a href="/tech">Technologies</a></li>
        </ul>
        <ul class="right">
          <li><a id="login-persona" href="#">Login with Persona</a></li>
        </ul>
      </section>
      {% endblock %}
    </nav>
  </div>

  {% block main %}
  {% endblock %}

  <footer class="row">
    <a href="/tos">Terms of Service</a> | Copyright &copy; Projecto Team 2013 | <a href="/privacy">Privacy Policy</a>
    <br />
  </footer>
  <script src="/static/js/vendor/jquery-1.9.1.min.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
    $(document).foundation("forms", "off");
  </script>
  <script src="/static/js/vendor/statusmsg.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script src="/static/js/login.js"></script>
  {% block end %}
  {% endblock %}
</body>
</html>
