<div class="panel feed-post" ng-controller="FeedItemController">
  <img src="https://secure.gravatar.com/avatar/{[ post.author.avatar ]}?s=50" class="feed-avatar" />
  <span class="feed-date">

    <span ng-hide="hideCommentLink">
    <a href="#/projects/{[ currentProject.key ]}/feed/{[ post.key ]}"><ng-pluralize count="post.children.length" when="{'0': 'Comment', '1': '1 comment', 'other': '{} comments'}"></ng-pluralize></a> |
    </span>

  {[ post.date | relativeTime ]} <a href="" ng-click="deletePost(post)" ng-show="currentProject.owner || post.author.key == currentUser.key" title="Delete">&times;</a></span>
  <p>
    <strong>{[ post.author.name ]}</strong>
    <br />
    {[ post.content ]}
  </p>
</div>
