<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <form ng-submit="post()">
        <textarea placeholder="Post something!" rows="2" ng-model="newpost"></textarea>
        <div class="right">
          <span ng-class="{red: newpost.length > 140, 'feed-character-count': true}" title="Messages should be kept brief, preferably below 160 characters!">{[ newpost.length ]}</span>
          <button type="submit" class="small">Post</button>
        </div>
      </form>
      <!-- required hack to get spacing to work -->
      <br class="clear" />
    </div>
  </div>
  <div class="large-8 columns">
    <div ng-repeat="post in posts">
      <ng-include src="'/static/feed/partials/feeditem.html'"></ng-include>
    </div>
    <div class="panel" class="hide" ng-show="posts.length == 0">
      <p>No activities yet. You can always post something!</p>
    </div>
  </div>
</div>